
body {
  padding: 2rem 0;
  position: relative;
  background: #0a192f;
  min-height: 100%;
}

body::before,
body::after {
  content: '';
  position: fixed;
  top: 0;
  width: 80px;
  height: 100%;
  background: #7dd3fc;
  z-index: 1;
}
body::before{
  left: 0;
  clip-path: polygon(0 0, 100% 0, 85% 2.5%,   100% 5%, 85% 7.5%, 100% 10%, 85% 12.5%, 100% 15%, 85% 17.5%, 100% 20%, 85% 22.5%, 100% 25%, 85% 27.5%, 100% 30%, 85% 32.5%, 100% 35%, 85% 37.5%, 100% 40%, 85% 42.5%, 100% 45%, 85% 47.5%, 100% 50%,   85% 52.5%,   100%   55%,   85%   57.5%,   100%   60%,   85%   62.5%,   100%   65%,   85%   67.5%,   100%   70%,   85%   72.5%,   100%   75%,   85%   77.5%,   100%   80%,   85%   82.5%,   100%   85%,   85%   87.5%,   100%);
}
body::after{
  right: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 15% 97.5%,   0 95%,   15%   92.5%,   0   90%,   15%   87.5%,   0   85%,   15%   82.5%,   0   80%,   15%   77.5%,   0   75%,   15%   72.5%,   0   70%,   15%   67.5%,   0   65%,   15%   62.5%,   0   60%,   15%   57.5%,   0   55%,   15%   52.5%,   0   50%,   	15%   	47.5%,   	0   	45%,   	15%   	42.5%,   	0   	40%,   	15%   	37.5%,   	0   	35%,   	15%   	32.5%,   	0   	30%,   	15%   	27.5%,   	0   	25%,   	15%   	22.5%,   	0   	20%,   	15%   	17.5%,   	0   	15%,   	15%   	12.5%);
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.24em 4rem;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #e1d7f1;
  margin-bottom: 1rem;
  font-family: 'Obitron', sans-serif;
  font-weight: 900;
  text-decoration: underline;
}

img, video {
  max-width: 100%;
  margin: 1rem 0;
}

p {
  font-size: 0.95rem;
  color: #e1d7f1;
  line-height: 1.7;
  text-align: left;
  font-family: 'Black Ops One', sans-serif;
}

@media (max-width: 600px) {
  body::before,
  body::after {
    display: none;
  }
}